---
import Layout from '$lib/layouts/Layout.astro';
import { HomeWidget } from "$lib/components/custom"
---

<Layout title="Comidas · Chicos del Barrio">
	<main id="home" class="flex h-full select-none flex-col items-center justify-center gap-4 overflow-auto xl:gap-6">
    <HomeWidget client:only="svelte" />
  </main>
</Layout>

<style>
  /* styles */
</style>
