---
import Layout from '$lib/layouts/Layout.astro';
import "$lib/styles/app.css";
---

<Layout title="Comidas · Chicos del Barrio">
	<main>
    Content here
  </main>
</Layout>

<style>
  /* styles */
</style>
