---
import AdminLayout from '$lib/layouts/AdminLayout.astro';
import { AdminDashboard } from "$lib/components/custom"
import { getOrders } from "$lib/queries"
import type { OrdersData } from "$lib/types"

// astro
export const prerender = false

// ssr data
const orders: OrdersData = await getOrders()
---

<AdminLayout title="Admin · App pedidos de comida">
  <main id="admin-home">
    <AdminDashboard data={orders} client:load />
  </main>
</AdminLayout>
