---
interface Props {
	title: string;
}

import { ViewTransitions } from 'astro:transitions';
import { Aside, Header } from "$lib/components/layout"
import { cn } from "$lib/utils"
import "$lib/styles/app.css";

const { title } = Astro.props;

const accessToken = Astro.cookies.get("access_token")?.value
const refreshToken = Astro.cookies.get("refresh_token")?.value

console.log({ accessToken, refreshToken })
---

<!doctype html>

<html lang="es" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Gestiona las ordenes hechas por vecinos." />
		<meta name="viewport" content="width=device-width, maximum-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>

    <ViewTransitions />
	</head>

	<body class="min-h-dvh flex h-full w-full bg-muted/40">
    <div data-layout="container" class="flex min-h-screen flex-1 flex-col">
      <Aside client:load />
      <Header client:load class="px-3 lg:pl-[calc(56px+50px)] lg:pr-[50px] lg:pt-12" />

      <div
        data-layout="content-container"
        class={cn(
          "flex w-full flex-1 flex-col items-center px-3 py-4 lg:pb-12 lg:pt-1",
          "lg:pl-[calc(56px+50px)] lg:pr-[50px]"
        )}
      >
        <slot />
      </div>
    </div>
	</body>
</html>
