---
interface Props {
	title: string;
}

import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;

const accessToken = Astro.cookies.get("access_token")?.value
const refreshToken = Astro.cookies.get("refresh_token")?.value

console.log({ accessToken, refreshToken })

import "$lib/styles/app.css";
---

<!doctype html>

<html lang="es" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="App simple de pedidos de comida" />
		<meta name="viewport" content="width=device-width, maximum-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>

    <ViewTransitions />
	</head>

	<body class="min-h-dvh h-full p-4">
		<slot />
	</body>
</html>

<style is:global>
  /* global styles */
</style>
