---
import Layout from "$lib/layouts/Layout.astro"
import { AdminLogin } from "$lib/components/custom"
import { Auth } from "$lib/components/auth"
import { getUser } from "$lib/auth/server"

// on demand
export const prerender = false

// session
const accessToken = Astro.cookies.get("access_token")?.value
const refreshToken = Astro.cookies.get("refresh_token")?.value

// auth
const user = await getUser({ accessToken, refreshToken })

// page path
const url = new URL(Astro.request.url)
const pathname = url.pathname.replace(/\/$/, "")

if (user && pathname === "/admin") {
  return Astro.redirect("/admin/dashboard")
}
---

<Layout title="Inicia sesión · App pedidos de comida">
  <Auth client:only="svelte" {user} />

  <main id="admin-login" class="flex h-full items-center justify-center">
    <AdminLogin client:only="svelte" />
  </main>
</Layout>
